# python
**.mypy_cache
**.pytest_cache
.Python
.cache
.dockerignore
.env
python/**__pycache__
python/**media
!python/apps/taiga/src/taiga/base/sampledata/media
python/**pytest.ini
python/.venv

# javascript
javascript/**node_modules
javascript/**email-server
javascript/**taiga-e2e


# common
**docs
.git
.github
.gitignore
AUTHORS.md
CODE_OF_CONDUCT.md
DCOLICENSE
LICENSE
README.md
